# Ignore Maven build directory
/target/

# Ignore Maven-specific files
dependency-reduced-pom.xml
release.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
# If you use Maven Wrapper
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# Ignore IDE-specific files
### IntelliJ IDEA ###
.idea/
*.iml
*.iws
out/

### Eclipse ###
.project
.classpath
.settings/
target/

### VS Code ###
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore compiled files
*.class

# Ignore temporary files
*.tmp
*.bak
*.swp
*.swo
